{{> header}}

<section id="allSongsView">
    <div class="background-spotify">
        <div class="song-container">
            <h1>All Songs</h1>
            <a href="#/create">
                <button type="button" class="btn-lg btn-block new-song-btn">Add a new song</button>
            </a>
            {{> songs}}
        </div>
    </div>
</section>

{{> footer}}