{{> header}}

<div id="car-listings">
    <h1>Car Listings</h1>

    <div id="listings">

        <div class="listing">
            <p>Audi a3 много запазено</p>
            <img src="https://i.imgur.com/drIOsYl.jpg">
            <h2>Brand: Audi</h2>
            <div class="info">
                <div id="data-info">
                    <h3>Seller: kunio</h3>
                    <h3>Fuel: Gasoline</h3>
                    <h3>Year: 1998</h3>
                    <h3>Price: 2500 $</h3>
                </div>
                <div id="data-buttons">
                    <ul>
                        <li class="action">
                            <a href="#" class="button-carDetails">Details</a>
                        </li>
                        <li class="action">
                            <a href="#" class="button-carDetails">edit</a>
                        </li>
                        <li class="action">
                            <a href="#" class="button-carDetails">delete</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <p class="no-cars">No cars in database.</p>

    </div>
</div>

{{> footer}}